.button {
 display: inline-block;
 max-width: 300px;
 margin-top: 50px;
 border: 0;
 padding: 0 18px;
 text-align: left;
 width: 100%;
 height: 37px;
 border-radius: 4px;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 -moz-font-feature-settings: "liga" on;
 color: rgba(0, 0, 0, 0.84) !important;
 fill: rgba(0, 0, 0, 0.84) !important;
 box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
 font: inherit;
 outline: none;
}

.button .svgIcon {
 vertical-align: middle;
 fill: rgba(0, 0, 0, 0.54);
 padding-right: 4px;
 height: 37px;
 display: inline-block;
}

.container-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur-image {
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
 filter: blur(5px);
}

.fa-circle {
  color:#DF0000;
}

.white-cart {
	color: #FFF;
}


.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}

	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}

	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}



	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}

}
